.common-button {
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid gray;
}

.PRIMARY_FILLED {
  background: #4c6ef5;
  border: 1px solid #4c6ef5;
  color: white;
}

.PRIMARY_OUTLINED {
  background: white;
  border: 1px solid #4c6ef5;
  color: #4c6ef5;
}

.SECONDARY_FILLED {
  background: #15aabf;
  border: 1px solid #15aabf;
  color: white;
}

.SECONDARY_OUTLINED {
  background: white;
  border: 1px solid #15aabf;
  color: #15aabf;
}

.MONO_FILLED {
  background: #25262b;
  border: 1px solid #25262b;
  color: white;
}

.MONO_OUTLINED {
  background: white;
  border: 1px solid #595b61;
  color: #25262b;
}

.DANGER_FILLED {
  background: #f44336;
  border: 1px solid #f44336;
  color: white;
}

.DANGER_OUTLINED {
  background: white;
  border: 1px solid #f44336;
  color: #f44336;
}
