.wrapper {
  background: blue;
}

.preview {
  background: #eeeeee;
  width: 390px;
  /* height: 844px; */
  height: 322px;
  border: 1px solid blue;
}

.button_box {
  text-align: center;
  padding: 10px;
}

.export_button {
  padding: 10px 25px;
}
